<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">ADVERTISEMENTS</ion-title>
    <ion-button slot="end"  color="warning" (click)="goToDetailsPage()">Post Ads</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="filter-box">
    <div class="search-bar">
      <ion-searchbar color="light" [(ngModel)]="searchTerm" (ionInput)="search($event)" show-clear-button="always" value="Always Show"></ion-searchbar>
    </div>
    <div class="filter-container">
      <div class="filter-header" (click)="toggleFilter()">
        <span>Filter</span>
        <ion-icon [name]="filterVisible ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </div>
      
      <div *ngIf="filterVisible" class="filter-options">

      </div>
    </div>

  </div>




</ion-content>
