ion-header{
    ion-toolbar{
        ion-button{
            margin-right: 10px;
        }
    }
}

ion-content{
    .filter-box{
        .search-bar{
            margin-top: 15px;

            ion-searchbar{
                --border-radius:15px;
                border-radius: var(--border-radius);
            }

        }

        .filter-container {
            padding: 16px;
            .filter-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding: 5%;
                background-color: #d7ffe7;
                border-radius: 5px;
              }
          }
          
          
          

          

          
    }
}