<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">HOME</ion-title>
    <ion-button slot="end"  color="warning" (click)="goToDetailsPage()">Post Ads</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="profile-card" (click)="goToProfile()">
    <img [src]="user.profileImage || 'assets/cat.png'" class="profile-image" />
    <span class="welcome-text">Welcome, {{ user.name }}</span>
  </div>
  <div>
    <h2>WHAT YOU LOOKING FOR?</h2>
    <ion-grid>
      <ion-row>
        <!-- Card for All Advertisements -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card"  (click)="goToAdvertisements('all')">
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">ALL ADVERTISEMENTS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <!-- Card for Fertilizer -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card"  (click)="goToAdvertisements('fertilizer')" >
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">FERTILIZERS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <!-- Card for AgroChemicals -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card" (click)="goToAdvertisements('agrochemical')">
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">AGRO-CHEMICALS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <!-- Card for Machineries -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card"  (click)="goToAdvertisements('machineries')" >
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">MACHINERIES</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
  
        <!-- Card for Planting Materials -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card"  (click)="goToAdvertisements('planting_materials')">
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">PLANTING MATERIALS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <!-- New Card for My Advertisements -->
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="category-card" (click)="goToMyAdvertisements()">
            <ion-card-header class="category-card-header">
              <ion-card-title class="category-card-title">MY ADS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  





</ion-content>
