ion-card {
  margin: 16px;
}

ion-item {
  --padding-start: 10px;
}

ion-button {
  margin-top: 20px;
}

.modern-agriculture-theme {
  --ion-background-color: #f5fff0;
  --ion-color-danger: #ff5a5f;
  --ion-color-success: #6ab04c;
}
