<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="search-chef"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">AGRO CHEMICALS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Pesticides Card -->
  <ion-card
    class="fertilizer-card pesticides"
    [ngClass]="{'selected': selectedCard === 'pesticides'}"
    (click)="selectCard('Pesticides')"
  >
    <ion-grid>
      <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-start">
        <h2 class="fertilizer-title">Pesticides</h2>
      </ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="7">
          <img src="assets/pesticide.jpg" class="fertilizer-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Plant Growth Regulators Card -->
  <ion-card
    class="fertilizer-card pgr"
    [ngClass]="{'selected': selectedCard === 'pgr'}"
    (click)="selectCard('PGR')"
  >
    <ion-grid>
      <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-start">
        <h2 class="fertilizer-title">Plant Growth Regulators</h2>
      </ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="7">
          <img src="assets/pgr.jpg" class="fertilizer-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
