<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="search-chef"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Machineries & Equipments</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let machinery of machineries">
        <ion-card
          [class]="machinery.className"
          [ngClass]="{'selected': selectedCard === machinery.className}"
          (click)="selectCard(machinery.className)"
        >
          <img [src]="machinery.image" [alt]="machinery.title" />
          <h2>{{ machinery.title }}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
