<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">My Advertisements</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let ad of advertisements">
        <ion-card class="advertisement-card">
          <ion-img [src]="ad.images[0]" *ngIf="ad.images.length > 0"></ion-img>

          <ion-card-header>
            <ion-card-title>{{ ad.title }}</ion-card-title>
            <ion-card-subtitle>
              <strong>Price:</strong> {{ ad.price ||ad.price_1L}} 
            </ion-card-subtitle>
            <div class="info-row">
              <span>
                <ion-icon name="pricetag" class="icon"></ion-icon>
                {{ ad.subcategory }}
              </span>
              <span>
                <ion-icon name="call" class="icon"></ion-icon>
                {{ ad.mobile }}
              </span>
            </div>
          </ion-card-header>

          <ion-card-content>
            <p>{{ ad.description }}</p>
            <ion-button expand="full" (click)="viewDetails(ad)" color="success">View</ion-button>
            <div class="button-group" style="margin-top: 10px; display: flex; justify-content: space-between;">
              <ion-button color="primary" (click)="updateAdvertisement(ad)">
                <ion-icon slot="start" name="create-outline"></ion-icon>
                Update
              </ion-button>
              <ion-button color="danger" (click)="deleteAdvertisement(ad)">
                <ion-icon slot="start" name="trash-outline"></ion-icon>
                Delete
              </ion-button>
            </div>
          
          
          
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>





  <div *ngIf="advertisements.length === 0" style="text-align: center; margin-top: 20px;">
    <p>No advertisements found for this category.</p>
  </div>
</ion-content>
