<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="harvest-market"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Harvest Market</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Vegetables Card -->
  <ion-card
    class="harvest-card vegetables"
    [ngClass]="{'selected': selectedCard === 'vegetables'}"
    (click)="selectCard('Vegetables')"
  >
    <ion-grid>
      <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-start">
        <h2 class="harvest-title">Vegetables</h2>
      </ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="7">
          <img src="assets/vegetables.jpg" class="harvest-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Fruits Card -->
  <ion-card
    class="harvest-card fruits"
    [ngClass]="{'selected': selectedCard === 'fruits'}"
    (click)="selectCard('Fruits')"
  >
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-end">
          <h2 class="harvest-title">Fruits</h2>
        </ion-col>
        <ion-col size="12" size-md="7">
          <img src="assets/fruits.jpg" class="harvest-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
