<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="search-chef" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">ADVERTISEMENTS</ion-title>
    <ion-button slot="end" color="warning" (click)="goToDetailsPage()">Add Post</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">advertisement</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
