<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="search-chef"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">FERTILIZERS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Organic Card -->
  <ion-card
    class="fertilizer-card organic"
    [ngClass]="{'selected': selectedCard === 'organic'}"
    (click)="selectCard('organic')"
  >
    <ion-grid>
      <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-start">
        <h2 class="fertilizer-title">Organic</h2>
      </ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="7">
          <img src="assets/organic.jpg" class="fertilizer-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Inorganic Card -->
  <ion-card
    class="fertilizer-card inorganic"
    [ngClass]="{'selected': selectedCard === 'inorganic'}"
    (click)="selectCard('inorganic')"
  >
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="5" class="ion-text-center ion-text-md-end">
          <h2 class="fertilizer-title">Inorganic</h2>
        </ion-col>
        <ion-col size="12" size-md="7">
          <img src="assets/inorganic.jpg" class="fertilizer-image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
