<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tractors" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">TRACTORS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        <ion-icon name="home" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>  </ion-toolbar>
</ion-header>



<ion-content>
  <form (ngSubmit)="onSubmit()" #tractorsForm="ngForm">


    <!-- Type Selector -->
    <div class="form-group">
      <label for="condition">Condition</label>
      <ion-select id="condition" name="condition" [(ngModel)]="tractors.condition" required>
        <ion-select-option value="new">New</ion-select-option>
        <ion-select-option value="used">Used</ion-select-option>
        <!-- Add more options if needed -->
      </ion-select>
    </div>

    <div class="form-group">
      <label for="rentorsell">Rent Or Sell</label>
      <ion-select id="rentorsell" name="rentorsell" [(ngModel)]="tractors.rentorsell" required>
        <ion-select-option value="rent">Rent</ion-select-option>
        <ion-select-option value="sell">Sell</ion-select-option>
        <!-- Add more options if needed -->
      </ion-select>
    </div>



    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <ion-input id="title" type="text" name="title" maxlength="30" [(ngModel)]="tractors.title" required></ion-input>
    </div>

    <!-- Stock -->
    <div class="form-group">
      <label for="stock">Stock</label>
      <ion-input id="stock" type="text" name="stock" maxlength="30" [(ngModel)]="tractors.stock" required></ion-input>
    </div>

    <!-- Manufacturer -->
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <ion-input id="manufacturer" type="text" name="manufacturer" maxlength="30" [(ngModel)]="tractors.manufacturer" required></ion-input>
    </div>


    <!-- Images -->
    <div class="form-group">
      <label for="images">Images</label>
      <input id="images" type="file" (change)="onFileChange($event)" accept="image/*" multiple>
    </div>
        <!-- Display Image Previews -->
        <div class="image-preview">
          <img *ngFor="let image of previewImages" [src]="image" class="preview-img">
        </div>


    <!-- Specifications -->
    <div class="form-group">
      <label for="specifications">Specifications</label>
      <ion-input id="specifications" type="text" name="specification" [(ngModel)]="tractors.specification"></ion-input>
    </div>
    <ion-button expand="block" class="add-spec-button" (click)="addSpecification()">Add Specification</ion-button>
    <ion-list>
      <ion-item *ngFor="let spec of specifications">{{ spec }}</ion-item>
    </ion-list>

    <!-- Prices -->
    <div class="form-group">
      <label for="price">Price</label>
      <ion-input id="price" type="number" name="price" [(ngModel)]="tractors.price"></ion-input>
    </div>
      <!-- Power -->
      <div class="form-group">
        <label for="power">Power</label>
        <ion-input id="power" type="number" name="power" [(ngModel)]="tractors.power"></ion-input>
      </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Address</label>
      <ion-input id="address" type="text" name="address" [(ngModel)]="tractors.address" required></ion-input>
    </div>

    <!-- Mobile -->
    <div class="form-group">
      <label for="mobile">Mobile</label>
      <ion-input id="mobile" type="tel" name="mobile" [(ngModel)]="tractors.mobile" required></ion-input>
    </div>

    <!-- Terms and Conditions -->
    <ion-item>
      <ion-checkbox [(ngModel)]="tractors.acceptTerms" name="acceptTerms"></ion-checkbox>
      <ion-label>Accept terms and conditions</ion-label>
    </ion-item>

    <!-- Submit Button -->
    <ion-button expand="block" type="submit" [disabled]="!tractorsForm.form.valid">List Item</ion-button>
  </form>
</ion-content>
