<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Vegetables and Fruit Stocks</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="mainAdCard">
    <ion-card-header>
      <ion-card-title>{{ ad?.title }}</ion-card-title>
      <p>{{ ad?.subtitle }}</p>
    </ion-card-header>

    
  <swiper-container 
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [pagination]="true"
  [navigation]="true"

  
   >
    <swiper-slide *ngFor="let image of ad?.images">
      <img [src]="image" />
    </swiper-slide>
</swiper-container>
    <!-- <ion-img [src]="ad?.imageUrl"></ion-img> -->



    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>Variant</ion-label>
          <ion-text>{{ ad?.variant }}</ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-label>Date</ion-label>
          <ion-text>{{ ad?.date }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>Address</ion-label>
          <ion-text>{{ ad?.address }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>Phone</ion-label>
          <ion-text>{{ ad?.phone }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label>Price</ion-label>
          <ion-text>{{ ad?.price | currency:'LKR' }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content>
      <ion-label>Description</ion-label>
      <p>{{ ad?.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
