<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/planting-materials"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="welcome-content">
  <div class="welcome-container">
    <h1>Welcome to Govi Nena Advertisement!</h1>
    <img src="../../assets/smart-farmer.png" alt="home-icon-gif" />
    <p class="welcome-message">
      Discover amazing deals on planting materials and connect with fellow
      gardening enthusiasts through our advertisement module.
    </p>

    <ion-button
      expand="block"
      routerLink="/login"
      routerDirection="forward"
      class="login-button"
    >
      Login
    </ion-button>
    <ion-button
      expand="block"
      color="secondary"
      routerLink="/signup"
      routerDirection="forward"
      class="signup-button"
    >
      Signup
    </ion-button>
  </div>
</ion-content>
