<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/planting-materials" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">SIGN UP</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        <ion-icon name="home" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h1>Welcome</h1>
    <ion-button expand="block" routerLink="/login" routerDirection="forward">
      Login
    </ion-button>
    <ion-button expand="block" color="secondary" routerLink="/signup" routerDirection="forward">
      Signup
    </ion-button>
  </div>
</ion-content>
